[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]

python_version = "3.6"

[packages]

flask = "*"
flask-sqlalchemy = "*"
flask-security = "*"
flask-heroku = "*"
psycopg2 = "*"
gunicorn = "*"
python-slugify = "*"

[dev-packages]

pytest-flask = "*"
factory-boy = "*"
