[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

flask = "*"
flask-sqlalchemy = "*"
flask-security = "*"
flask-admin = "*"
flask-heroku = "*"
psycopg2 = "*"
gunicorn = "*"


[requires]

python_version = "3.6"

[dev-packages]

pytest-flask = "*"
factory-boy = "*"