{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>Interface de Gerenciamento</h1>
            {% if not current_user.is_anonymous %}
                <p>Aqui você pode gerenciar planos e recursos disponíveis.</p>
            {% else %}
                <p>Você deve estar logado para acessar essa interface, por favor retorne à página principal.</p>
            {% endif %}
            <p>
                <a class="btn btn-primary" href="{{ url_for('default.show_homescreen') }}"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
            </p>
        </div>
    </div>
</div>
{% endblock body %}
