{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>Cloud computing management interface</h1>
            {% if not current_user.is_anonymous %}
                <p>Here you can manage available plans and resources.</p>
            {% else %}
                <p>You must be logged in to access this interface, please return to the main page.</p>
            {% endif %}
            <p>
                <a class="btn btn-primary" href="{{ url_for('show_homescreen') }}"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
            </p>
        </div>
    </div>
</div>
{% endblock body %}
