{% import 'admin/static.html' as admin_static with context %}

{% macro dropdown(actions, btn_class='btn dropdown-toggle') -%}
    <a class="{{ btn_class }}" data-toggle="dropdown" href="javascript:void(0)">{{ _gettext('Com Selecionado') }}<b class="caret"></b></a>
    <ul class="dropdown-menu">
        {% for p in actions %}
        <li>
            <a href="javascript:void(0)" onclick="return modelActions.execute('{{ p[0] }}');">{{ _gettext(p[1]) }}</a>
        </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro form(actions, url) %}
    {{ super() }}
{% endmacro %}

{% macro script(message, actions, actions_confirmation) %}
    {{ super() }}
{% endmacro %}
