{% extends 'admin/lib.html' %}
{% import 'admin/static.html' as admin_static with context %}

{# ---------------------- Pager -------------------------- #}
{% macro pager(page, pages, generator) -%}
    {{ super() }}
{%- endmacro %}

{# ---------------------- Forms -------------------------- #}
{% macro render_field(form, field, kwargs={}, caller=None) %}
  {% set direct_error = h.is_field_error(field.errors) %}
  <div class="form-group{{ ' error' if direct_error else '' }}">
    <label for="{{ field.id }}" class="col-md-2 control-label">{{ field.label.text }}
        {% if h.is_required_form_field(field) %}
          <strong style="color: red">&#42;</strong>
        {%- else -%}
          &nbsp;
        {%- endif %}
    </label>
    <div class="{{ kwargs.get('column_class', 'col-md-10') }}">
      {% set _dummy = kwargs.setdefault('class', 'form-control') %}
      {{ field(**kwargs)|safe }}
      {% if field.description %}
      <p class="help-block">{{ field.description }}</p>
      {% endif %}
    </div>
    {% if direct_error %}
      <ul{% if direct_error %} class="input-errors"{% endif %}>
      {% for e in field.errors if e is string %}
        <li>{{ e }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    {% if caller %}
      {{ caller(form, field, direct_error, kwargs) }}
    {% endif %}
  </div>
{% endmacro %}

{% macro render_header(form, text) %}
    <h3>{{ text }}</h3>
{% endmacro %}

{% macro render_form_fields(form, form_opts=None) %}
    {% if form.hidden_tag is defined %}
        {{ form.hidden_tag() }}
    {% else %}
        {% if csrf_token %}
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {% endif %}
        {% for f in form if f.widget.input_type == 'hidden' %}
            {{ f }}
        {% endfor %}
    {% endif %}

    {% if form_opts and form_opts.form_rules %}
        {% for r in form_opts.form_rules %}
            {{ r(form, form_opts=form_opts) }}
        {% endfor %}
    {% else %}
        {% for f in form if f.widget.input_type != 'hidden' %}
          {% if form_opts %}
            {% set kwargs = form_opts.widget_args.get(f.name, {}) %}
          {% else %}
            {% set kwargs = {} %}
          {% endif %}
          {{ render_field(form, f, kwargs) }}
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro form_tag(form=None, action=None) %}
    <form action="{{ action or '' }}" method="POST" role="form" class="admin-form form-horizontal" enctype="multipart/form-data">
      {{ caller() }}
    </form>
{% endmacro %}

{% macro render_form_buttons(cancel_url, extra=None) %}
    <hr>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10 submit-row">
        <input type="submit" class="btn btn-primary" value="{{ _gettext('Submit') }}" />
        {% if extra %}
        {{ extra }}
        {% endif %}
        {% if cancel_url %}
        <a href="{{ cancel_url }}" class="btn btn-danger" role="button">{{ _gettext('Cancelar') }}</a>
        {% endif %}
      </div>
    </div>
{% endmacro %}

{% macro render_form(form, cancel_url, extra=None, form_opts=None, action=None) -%}
    {{ super() }}
{% endmacro %}

{% macro form_css() %}
    {{ super() }}
{% endmacro %}

{% macro form_js() %}
    {{ super() }}
{% endmacro %}
