{% extends 'admin/master.html' %}
{% import 'admin/local_lib.html' as lib with context %}

{% macro extra() %}
  <input name="_continue_editing" type="submit" class="btn btn-default" value="{{ _gettext('Salvar e Continuar') }}" />
{% endmacro %}

{% block head %}
    {{ super() }}
    {{ lib.form_css() }}
{% endblock %}

{% block body %}
    {% block navlinks %}
    <ul class="nav nav-tabs">
        <li>
            <a href="{{ return_url }}">{{ _gettext('Lista') }}</a>
        </li>
        <li class="nav nav-tabs">
            <a href="{{ get_url('.create_view', url=return_url) }}" title="{{ _gettext('Inserir Novo Registro') }}">{{ _gettext('Inserir') }}</a>
        </li>
        <li class="active">
            <a href="javascript:void(0)">{{ _gettext('Editar') }}</a>
        </li>
    </ul>
    {% endblock %}
    {% call lib.form_tag(form) %}
        {{ lib.render_form_fields(form, form_opts=form_opts) }}
        {{ lib.render_form_buttons(return_url, extra()) }}
    {% endcall %}
{% endblock %}

{% block tail %}
  {{ super() }}
  {{ lib.form_js() }}
{% endblock %}
