{% extends "shop-layout.html" %}
{% block body %}

    <div class="container">

      <div class="row">

        <div class="col-lg-3">
          <h1 class="my-4">Planos disponíveis</h1>
          <div class="list-group">
            <a href="#" class="list-group-item active">Planos</a>
            <a href="#" class="list-group-item">Recursos</a>
          </div>
        </div>

        <div class="col-lg-9">

          {% if plan is not none %}

            <div class="card mt-4">
              <img class="card-img-top img-fluid" src="{{ plan.hero_image }}" alt="">
              <div class="card-body">
                <h3 class="card-title">{{ plan.title }}</h3>
                <h4>R${{ plan.price }}</h4>
                <p class="card-text">{{ plan.shop_description }}</p>
              </div>
            </div>

          {% else %}

            <div class="card mt-4">
              <div class="card h-100">
                  <div class="card-body">
                    <h4 class="card-title">Erro ao carregar plano, tente novamente mais tarde.</h4>
                  </div>
                </div>
            </div>

          {% endif %}

        </div>

      </div>

    </div>

{% endblock %}
